.btn__theme {
  color: var(--color--white, #fff);
  width: 1.625rem;
  height: 1.625rem;
}

.btn__icon.btn__icon--light {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .btn__icon.btn__icon--dark {
    display: none;
  }
  .btn__icon.btn__icon--light {
    display: block;
  }
}

.btn__filter {
  font-weight: var(--font--weight-bold);
  color: #9495a5;
}

.btn__filter:hover {
  color: var(--color--navy-850);
}

.btn__filter--active {
  color: var(--color--blue-500);
  font-weight: var(--font--weight-bold);
}
