.tasks-card {
  background-color: var(--task--background-color);
  border-radius: var(--task--border-radius);
  box-shadow: var(--task--box-shadow);
}

.tasks-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__group input {
  width: 100%;
  background-color: var(--task--background-color);
  padding: var(--task--padding-vertical) var(--task--padding-horizontal);
  border-radius: var(--task--border-radius);
  box-shadow: var(--task--box-shadow);
}

/* TASK ITEM */
.tasks-list__item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin: 0;
  padding: var(--task--padding-vertical) var(--task--padding-horizontal);
  border-bottom: 0.0625rem solid var(--color--purple-100, #d1d2da);
}

/* TASK LABEL */
.tasks-list__item label:hover {
  cursor: pointer;
}

/* TASK CHECKBOX */
.tasks-list__item:has(input[type='checkbox']:checked) {
  color: var(--color--purple-300);
  text-decoration: line-through;
}

.tasks-list__item input[type='checkbox'] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid var(--color--purple-100);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.tasks-list__item input[type='checkbox']:checked {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="9" viewBox="0 0 11 9" fill="none"><path d="M0.707108 4.0112L3.40301 6.70711L9.40301 0.707108" stroke="white" stroke-width="2"/></svg>'),
    var(--color--check-bg);
  background-position: center;
  background-repeat: no-repeat;
}

/* DELETE TASK BUTTON */
.tasks-list__item:hover .btn__delete-task {
  display: flex;
}

.tasks-list__item .btn__delete-task {
  display: none;
  align-items: center;
  margin-left: auto;
}
